<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".quanLyPhieuDat"
            android:exported="false"
            android:parentActivityName=".Home"/>
        <activity
            android:name=".manHinhPhieuDat"
            android:exported="false"
            android:parentActivityName=".Home" />
        <activity
            android:name=".updateNhanVien"
            android:exported="false"
            android:parentActivityName=".Home"/>
        <activity
            android:name=".chiTietHoaDon"
            android:exported="false" />
        <activity
            android:name=".chiTietDichVu"
            android:exported="false" />
        <activity
            android:name=".taoPhieuDatPhong"
            android:exported="false" />
        <activity
            android:name=".add_Nhanvien"
            android:exported="false"
            android:parentActivityName=".nhanVien"/>
        <activity
            android:name=".manHinhDangNhap"
            android:exported="false" />
        <activity
            android:name=".quanLyPhong"
            android:exported="false"
            android:parentActivityName=".Home" />
        <activity
            android:name=".doanhThu"
            android:exported="false"
            android:parentActivityName=".Home" />
        <activity
            android:name=".nhanVien"
            android:exported="false"
            android:parentActivityName=".Home" />
        <activity
            android:name=".hoaDon"
            android:exported="false"
            android:parentActivityName=".Home" />
        <activity
            android:name=".dichVu"
            android:exported="false"
            android:parentActivityName=".Home" />
        <activity
            android:name=".khachHang"
            android:exported="false"
            android:parentActivityName=".Home" />
        <activity
            android:name=".loaiPhong"
            android:exported="false"
            android:parentActivityName=".Home" />
        <activity
            android:name=".quanLyTang"
            android:exported="false"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".quanLyTang_phong"
            android:exported="false"
            android:parentActivityName=".loaiPhong" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>